<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Titre d'onglet -->
    <title>Création d'événement</title>
    <!-- Encodage -->
    <meta charset="utf-8">
    <!-- Icône d'onglet -->
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <!-- Icônes Material -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Calendar CSS -->
    <link id="bsdp-css" href="{% static "css/bootstrap-datepicker3.min.css" %}" rel="stylesheet">
    <!-- jQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Calendar JS -->
    <script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "locales/bootstrap-datepicker.fr.min.js" %}" charset="UTF-8"></script>
    <script src="{% static "locales/bootstrap-datepicker.fr-CH.min.js" %}" charset="UTF-8"></script>
</head>


</html>
