<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <!-- Titre d'onglet -->
    {% if event %}
        <title>{{ event.title }}</title>
    {% else %}
        <title>Introuvable</title>
    {% endif %}

    <!-- Encodage -->
    <meta charset="utf-8">

    <!-- Assure le bon rendering sur tous types d'appareils ainsi que le touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Icône d'onglet -->
    <link rel="icon" href="{% static "img/favicon.ico" %}">

    <!-- Icônes Material -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Calendar CSS -->
    <link id="bsdp-css" href="{% static "css/bootstrap-datepicker3.min.css" %}" rel="stylesheet">

    <!-- Calendar JS -->
    <script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "locales/bootstrap-datepicker.fr.min.js" %}" charset="UTF-8"></script>
    <script src="{% static "locales/bootstrap-datepicker.fr-CH.min.js" %}" charset="UTF-8"></script>

    <script>
        $(function () {
            $("input[type='password'][data-eye]").each(function (i) {
                var $this = $(this);

                $this.wrap($("<div/>", {
                    style: 'position:relative'
                }));
                $this.css({
                    paddingRight: 60
                });
                $this.after($("<div/>", {
                    html: 'Voir',
                    class: 'btn btn-primary btn-sm',
                    id: 'passeye-toggle-' + i,
                    style: 'position:absolute;right:10px;top:50%;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-o-transform:translate(0,-50%);padding: 2px 7px;font-size:12px;cursor:pointer;'
                }));
                $this.after($("<input/>", {
                    type: 'hidden',
                    id: 'passeye-' + i
                }));
                $this.on("keyup paste", function () {
                    $("#passeye-" + i).val($(this).val());
                });
                $("#passeye-toggle-" + i).on("click", function () {
                    if ($this.hasClass("show")) {
                        $this.attr('type', 'password');
                        $this.removeClass("show");
                        $(this).removeClass("btn-outline-primary");
                    } else {
                        $this.attr('type', 'text');
                        $this.val($("#passeye-" + i).val());
                        $this.addClass("show");
                        $(this).addClass("btn-outline-primary");
                    }
                });
            });
            $('.picker').datepicker({
                format: "yyyy-mm-dd",
                maxViewMode: 1,
                todayBtn: "linked",
                language: "fr",
                todayHighlight: true
            });
            // form validation
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        });
    </script>

    <style>

        /* Polices */
        @font-face {
            font-family: roboto;
            src: url({% static "font/roboto-thin.ttf" %});
        }

        @font-face {
            font-family: rlight;
            src: url({% static "font/raleway-light.ttf" %});
        }

        @font-face {
            font-family: rbold;
            src: url({% static "font/raleway-bold.ttf" %});
        }

        @font-face {
            font-family: rextrabold;
            src: url({% static "font/raleway-extrabold.ttf" %});
        }

        @font-face {
            font-family: rregular;
            src: url({% static "font/raleway-regular.ttf" %});
        }

        @font-face {
            font-family: rmedium;
            src: url({% static "font/raleway-medium.ttf" %});
        }

        /* Rend les éléments non-sélectionnables
        body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }*/

        /* Police utilisée */
        body, form {
            font-family: rregular;
        }

        html, body {
            height: 100%;
        }

        body {
            background-color: #f7f9fb;
        }

        .style .card {
            border-color: transparent;
            box-shadow: 0 0 40px rgba(0, 0, 0, .05);
        }

        .style .card.fat {
            padding: 10px;
        }

        .style .card .card-title {
            margin-bottom: 30px;
        }

        .style .form-control {
            border-width: 2.3px;
        }

        .style .form-group label {
            width: 100%;
        }

        @media screen and (max-width: 425px) {
            .style .card-wrapper {
                width: 90%;
                margin: 0 auto;
            }
        }

        @media screen and (max-width: 320px) {
            .style .card.fat {
                padding: 0;
            }

            .style .card.fat .card-body {
                padding: 15px;
            }
        }
    </style>
</head>
<body>

<!-- Barre de navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <!-- Logo EPITA et titre de page -->
        <a class="navbar-brand" href="/">
            <img src="{% static "/img/logo-epita.png" %}" alt="logo" style="width:50px;">
        </a>
        <a class="navbar-brand" href="/">Billetterie EPITA</a>

        <!-- Bouton menu pour mobiles -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navb">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Liens de navigation -->
        <div class="collapse navbar-collapse navb">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all_event.html">Liste des événements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create_event.html">Création d'événements</a>
                </li>
            </ul>
        </div>

        <!-- Barre de recherche -->
        <div class="collapse navbar-collapse justify-content-end navb ml-auto">
            <form method="get" action="/all_event.html">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">&#xE8B6;</i></span>
                    </div>
                    <input type="text" name="filter" class="form-control" placeholder="Recherche">
                </div>
            </form>

            <!-- Bouton de connexion -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <div class="btn-group nav-link" role="group">
                            <button type="button" class="btn btn-info" onclick="location.href = '/compte.html'">Mon
                                compte
                            </button>
                            <button type="button" class="btn btn-danger" onclick="location.href = '/logout'">&times;
                            </button>
                        </div>
                    {% else %}
                        <a href="/connexion.html" class="nav-link" id="connect">
                            <button type="button" class="btn-block btn btn-success">Connexion
                            </button>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Fin de la barre de navigation -->

{% if not event %}
    <div class="style container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper d-flex justify-content-center align-items-center h100">
                <div class="alert alert-danger">
                    Cet évènement n'existe pas ! Jetez un coup d'oeil à la <a href="all_event.html" class="alert-link">liste</a>
                    des évènements !
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="style container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper d-flex justify-content-center align-items-center h100">
                <div class="card fat" id="vertical">
                    <div class="card-body">
                        <form action="/inscription.html" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="title">Nom de l'évènement</label>
                                <input type="text" class="form-control" id="title" name="title"
                                       value="{{ event.title }}"
                                       disabled>
                                <input type="hidden" class="form-control" id="title" name="name"
                                       value="{{ event.title }}">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea type="text" class="form-control" id="description"
                                          name="description" disabled>{{ event.description }}</textarea>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="start_date">Date de début</label>
                                    <input type="text" class="form-control" id="start_date" name="start_date"
                                           value="{{ event.start_date }}" disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="end_date">Date de fin</label>
                                    <input type="text" class="form-control" id="end_date"
                                           name="end_date" value="{{ event.end_date }}" disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="end_inscrip_date">Date de fin d'inscription</label>
                                    <input type="text" class="form-control" id="end_inscrip_date"
                                           name="end_inscrip_date" value="{{ event.end_inscrip_date }}" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="max_place_student">Places restantes (internes)</label>
                                    <input type="text" class="form-control" id="max_place_student"
                                           value="{% if event.display_available_places %}{{ event.nb_places_student }}{% else %}Not visible{% endif %}"
                                           disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="max_place_ext">Places restantes (externes)</label>
                                    <input type="text" class="form-control" id="max_place_ext"
                                           value="{% if event.display_available_places %}{{ event.nb_places_extern }}{% else %}Not visible{% endif %}"
                                           disabled>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="price_student">Prix internes</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="price_student"
                                               name="price_student" placeholder="30"
                                               value="{{ event.price_student }}" disabled>
                                        <div class="input-group-append">
                                            <span class="input-group-text">€</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="price_extern">Prix externes</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="price_extern"
                                               name="price_extern" placeholder="0" value="{{ event.price_extern }}"
                                               disabled>
                                        <div class="input-group-append">
                                            <span class="input-group-text">€</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if inscrit %}
                                <button class="btn btn-success" disabled>Inscrit</button>
                            {% else %}
                                <button type="submit" class="btn btn-primary">S'inscrire</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

</body>
</html>
