<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <!-- Titre d'onglet -->
    {% if event %}
        <title>{{ event.title }}</title>
    {% else %}
        <title>Inscription</title>
    {% endif %}

    <!-- Encodage -->
    <meta charset="utf-8">

    <!-- Assure le bon rendering sur tous types d'appareils ainsi que le touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Icône d'onglet -->
    <link rel="icon" href="{% static "img/favicon.ico" %}">

    <!-- Icônes Material -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Calendar CSS -->
    <link id="bsdp-css" href="{% static "css/bootstrap-datepicker3.min.css" %}" rel="stylesheet">

    <!-- Calendar JS -->
    <script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "locales/bootstrap-datepicker.fr.min.js" %}" charset="UTF-8"></script>
    <script src="{% static "locales/bootstrap-datepicker.fr-CH.min.js" %}" charset="UTF-8"></script>

    <!-- PayPal -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>
        $(function () {
            $("input[type='password'][data-eye]").each(function (i) {
                var $this = $(this);

                $this.wrap($("<div/>", {
                    style: 'position:relative'
                }));
                $this.css({
                    paddingRight: 60
                });
                $this.after($("<div/>", {
                    html: 'Voir',
                    class: 'btn btn-primary btn-sm',
                    id: 'passeye-toggle-' + i,
                    style: 'position:absolute;right:10px;top:50%;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-o-transform:translate(0,-50%);padding: 2px 7px;font-size:12px;cursor:pointer;'
                }));
                $this.after($("<input/>", {
                    type: 'hidden',
                    id: 'passeye-' + i
                }));
                $this.on("keyup paste", function () {
                    $("#passeye-" + i).val($(this).val());
                });
                $("#passeye-toggle-" + i).on("click", function () {
                    if ($this.hasClass("show")) {
                        $this.attr('type', 'password');
                        $this.removeClass("show");
                        $(this).removeClass("btn-outline-primary");
                    } else {
                        $this.attr('type', 'text');
                        $this.val($("#passeye-" + i).val());
                        $this.addClass("show");
                        $(this).addClass("btn-outline-primary");
                    }
                });
            });
            $('.picker').datepicker({
                format: "yyyy-mm-dd",
                maxViewMode: 1,
                todayBtn: "linked",
                language: "fr",
                todayHighlight: true
            });
            // form validation
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        });
    </script>

    <style>

        /* Polices */
        @font-face {
            font-family: roboto;
            src: url({% static "font/roboto-thin.ttf" %});
        }

        @font-face {
            font-family: rlight;
            src: url({% static "font/raleway-light.ttf" %});
        }

        @font-face {
            font-family: rbold;
            src: url({% static "font/raleway-bold.ttf" %});
        }

        @font-face {
            font-family: rextrabold;
            src: url({% static "font/raleway-extrabold.ttf" %});
        }

        @font-face {
            font-family: rregular;
            src: url({% static "font/raleway-regular.ttf" %});
        }

        @font-face {
            font-family: rmedium;
            src: url({% static "font/raleway-medium.ttf" %});
        }

        /* Rend les éléments non-sélectionnables
        body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }*/

        /* Police utilisée */
        body, form {
            font-family: rregular;
        }

        html, body {
            height: 100%;
        }

        body {
            background-color: #f7f9fb;
        }

        .style .form-group label {
            width: 100%;
        }

        .event-all {
            padding-top: 75px;
        }
    </style>
</head>
<body>

<!-- Barre de navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Logo EPITA et titre de page -->
        <a class="navbar-brand" href="/">
            <img src="{% static "/img/logo-epita.png" %}" alt="logo" style="width:50px;">
        </a>
        <a class="navbar-brand" href="/">Billetterie EPITA</a>

        <!-- Bouton menu pour mobiles -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navb">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Liens de navigation -->
        <div class="collapse navbar-collapse navb">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all_event.html">Liste des événements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create_event.html">Création d'événements</a>
                </li>
            </ul>
        </div>

        <!-- Barre de recherche -->
        <div class="collapse navbar-collapse justify-content-end navb ml-auto">
            <form method="get" action="/all_event.html">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons">&#xE8B6;</i></span>
                    </div>
                    <input type="text" name="filter" class="form-control" placeholder="Recherche">
                </div>
            </form>

            <!-- Bouton de connexion -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <div class="btn-group nav-link" role="group">
                            <button type="button" class="btn btn-info" onclick="location.href = '/compte.html'">Mon
                                compte
                            </button>
                            <button type="button" class="btn btn-danger" onclick="location.href = '/logout'">&times;
                            </button>
                        </div>
                    {% else %}
                        <a href="/connexion.html" class="nav-link" id="connect">
                            <button type="button" class="btn-block btn btn-success">Connexion
                            </button>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Fin de la barre de navigation -->

<!-- Formulaire de création d'événement -->
<div class="container">
    <div class="row event-all justify-content-center">
        <div class="col-8">
            {% if error %}
                <div class="alert alert-danger">
                    Vous êtes déjà inscrit à <b>{{ event.title }}</b>
                </div>
            {% else %}
                <div class="alert alert-success">
                    Cliquez pour finaliser votre inscription à <b>{{ event.title }}</b> en payant
                    <b>{{ event.price_student }}€</b> via PayPal
                </div>
                <div id="paypal-button"></div>
            {% endif %}
        </div>
    </div>
</div>

<form hidden action="/success.html" method="POST" id="form">
    {% csrf_token %}
    <input type="hidden" id="var1" name="var1" value=""/>
    <input type="hidden" id="var2" name="var2" value=""/>
</form>

{% if not error %}
<script>
    paypal.Button.render({
        env: 'sandbox', // Or 'sandbox',

        commit: true, // Show a 'Pay Now' button

        client: {
            sandbox: "AfRZHxjcDp7lTYjrNof2Jh6zt5sYCYGPdigzdInmVAo1T9QPulr5RfM7feGs7G_ii6IywjFNc27IoVVM",
            productio: "AfRZHxjcDp7lTYjrNof2Jh6zt5sYCYGPdigzdInmVAo1T9QPulr5RfM7feGs7G_ii6IywjFNc27IoVVM"
        },

        style: {
            color: 'gold',
            size: 'small'
        },

        payment: function (data, actions) {
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: {total: {{ event.price_student }}, currency: 'EUR'}
                        }
                    ]
                }
            });
        },

        onAuthorize: function (data, actions) {
            return actions.payment.get().then(function (payment) {
                $("#var1").val("ok");
                $("#var2").val("{{ event.title }}");
                $("#form").submit();
                // The payment is complete!
                // You can now show a confirmation message to the customer
            });
        },

        onCancel: function (data, actions) {
            $("#var1").val("ko");
            $("#var2").val("{{ event.title }}");
            $("#form").submit();
            /*
             * Buyer cancelled the payment
             */
        },

        onError: function (err) {
            $("#var1").val("error");
            $("#var2").val("{{ event.title }}");
            $("#form").submit();
            /*
             * An error occurred during the transaction
             */
        }
    }, '#paypal-button');
</script>
{% endif %}
<!-- Fin du formulaire de création d'événement -->

</body>
</html>
